fixtures/dataset/2025/**/*.pdf filter=lfs diff=lfs merge=lfs -text
fixtures/dataset/2025/**/*.png filter=lfs diff=lfs merge=lfs -text
fixtures/dataset/2025/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
fixtures/dataset/2025/**/*.docx filter=lfs diff=lfs merge=lfs -text
fixtures/dataset/2025/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
